<footer class="footer">
  <div class="container">
    <a class="fa fa-linkedin" href="https://ke.linkedin.com/in/tye-joseph-0bb158239/" aria-label="LinkedIn"></a>
    <a class="fa fa-twitter" href="https://x.com/Tyejoseph1" aria-label="Twitter"></a>
    <a class="fa fa-github" href="https://github.com/m-bwela" aria-label="GitHub"></a>
    <p>&copy; <%= new Date().getFullYear() %> Tye Joseph. All rights reserved.</p>
  </div>
</footer>